
body:not(.pace) > div.page > div.page-content > div.content-inner,
body > div.page > div.page-content > div.content-inner:before,
body > div.page > div.page-content > div.content-inner:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out;
}


body:not(.pace-done) > div.page > div.page-content > div.content-inner, body:not(.pace-done) > div.page > div.page-content > div.content-inner:before, body:not(.pace-done) > div.page > div.page-content > div.content-inner:after {
      opacity:0;
}

nav.navbar .menu-btn span:nth-of-type(2)::before, nav.navbar .menu-btn span:nth-of-type(2)::after {
    background-color: #2B90D9 !important;
}


nav.navbar .menu-btn span {
    background-color: #2B90D9 !important;
}

i.fa-sign-out {
    color: #2B90D9;
}

