/*Toggle Button IsActive*/
/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/*Toggle Button IsActive*/

/*Profile picture upload Employee Add*/

.fileEmployeeAdd {
position: relative;
}
.fileEmployeeAdd label {
background-color: #3498db;
padding: 5px 20px;
color: #fff;
font-weight: bold;
font-size: .9em;
transition: all .4s;
}
.fileEmployeeAdd input {

position: absolute;
display: inline-block;
left: 0;
top: 0;
opacity: 0.01;
cursor: pointer;
}
.fileEmployeeAdd input:hover + label,
.fileEmployeeAdd input:focus + label {
background: #34495E;
color: #3498db;
}
/*Profile picture upload Employee Add*/

/*Profile picture upload Employee Edit*/

.fileEmployeeEdit {
position: relative;
}
.fileEmployeeEdit label {
background-color: #3498db;
padding: 5px 20px;
color: #fff;
font-weight: bold;
font-size: .9em;
transition: all .4s;
}
.fileEmployeeEdit input {

position: absolute;
display: inline-block;
left: 0;
top: 0;
opacity: 0.01;
cursor: pointer;
}
.fileEmployeeEdit input:hover + label,
.fileEmployeeEdit input:focus + label {
background: #34495E;
color: #3498db;
}
/*Profile picture upload Employee Edit*/